body {
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}
.title {
	position: relative;
	text-align: center;
	font-size: xx-large;
	font-weight: bold;
}

.menu-icon {
	position: absolute;
	left: 0px;
	top: 10px;
}

div.sidebar-menu {
	display: none;
}

.menu-icon.material-symbols-outlined {
  	font-variation-settings: 'FILL' 0, 'wght' 700, 'GRAD' 0, 'opsz' 40;
	font-size: xx-large;
	font-weight: bold;
}

.para {
	font-size: 1rem;
	margin-block-start: 1em;
	margin-block-end: 1em;
}

span.code {
	font-family:'Courier New', Courier, monospace;
}

.codeblock {
	font-family:'Courier New', Courier, monospace;
	text-wrap: nowrap;
	background-color: black;
	color: whitesmoke;
	margin: 0.5em;
	padding: 0.5em;
	border: 2px solid black;
	border-radius: 0.25em;
	overflow-x: auto;
}

.codeline {
	font-size: 1rem;
}

.codelineno {
	display: inline-block;
	width: 4em;
	text-align: right;
	margin-left: 0.2em;
	margin-right: 1em;
}

