        <div class='sidebar-menu hidden'>
			<div class="title"><span class="menu-icon material-symbols-outlined">menu</span>Menu</div>
            <div class="sidebar-top goto-home">Home</div>
            <div class="sidebar-second goto-disclaimer">Disclaimer</div>
            <div class="sidebar-top">Philosophy</div>
            <div class="sidebar-top">Samples</div>
            <div class="sidebar-second goto-sample-deployer">deployer.ziniki.org</div>
            <div class="sidebar-second goto-sample-dynamo">dynamo</div>
            <div class="sidebar-second goto-sample-neptune">neptune</div>
            <div class="sidebar-second goto-sample-envs">envs</div>

            <div class="sidebar-top">User Guide</div>
            <div class="sidebar-second">Command line syntax</div> <!-- including --teardown and --destroy -->
            <div class="sidebar-second">Language features</div>
			<!-- including vars, exprs, nesting, properties-->
			<div class="sidebar-third goto-blocking">Blocking</div>
			<div class="sidebar-third goto-tokenization">Tokenization</div>
			<div class="sidebar-third goto-interpretation">Intepretation</div>
			<div class="sidebar-third goto-expressions">Expressions</div>
			<div class="sidebar-third goto-resolution">Resolution</div>
			<div class="sidebar-third">Properties</div>
			<div class="sidebar-third">Adverbs</div>
            <div class="sidebar-second">Environment</div>
            <div class="sidebar-second goto-modules">Modules</div>

            <!-- todo this should be generated if possible -->
            <div class="sidebar-third goto-modules-core">Core</div>
            <div class="sidebar-third goto-modules-aws">AWS</div>
            <div class="sidebar-third goto-modules-dreamhost">Dreamhost</div>

            <div class="sidebar-top goto-developer">Developer guide</div>
            <div class="sidebar-second">Phases</div>
            <div class="sidebar-second">Extension Points</div>
            <div class="sidebar-second">Adding extensions - building a module</div>
            <div class="sidebar-second">Start up code</div>
            <div class="sidebar-second">Base classes</div>
            <div class="sidebar-second">Coins</div>
            <div class="sidebar-top">Releases</div>
        </div>
