        <div class='sidebar-menu hidden'>
            <div class="sidebar-top goto-home">Home</div>
            <div class="sidebar-top">Philosophy</div>
            <div class="sidebar-top">Samples</div>
            <div class="sidebar-top">User Guide</div>
            <div class="sidebar-second">Command line syntax</div> <!-- including --teardown and --destroy -->
            <div class="sidebar-second">Language features</div>
			<!-- including vars, exprs, nesting, properties-->
			<div class="sidebar-third goto-expressions">Expressions</div>
            <div class="sidebar-second">Environment</div>
            <div class="sidebar-second">Modules</div>

            <div class="sidebar-top">Developer guide</div>
            <div class="sidebar-second">Phases</div>
            <div class="sidebar-second">Extension Points</div>
            <div class="sidebar-second">Adding extensions - building a module</div>
            <div class="sidebar-second">Start up code</div>
            <div class="sidebar-second">Base classes</div>
            <div class="sidebar-second">Coins</div>
            <div class="sidebar-top">Download</div>
        </div>
