<!DOCTYPE html>
<html>
    <head>
        <title>Ziniki Deployer</title>
        <link rel="stylesheet" href="css/mobile.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=menu" />
        <script type="module" src="js/main.js"></script>
      </head>
    <body>
		<div class="container">
%include
layout/menu.html
%include
parts/home.html
%include
parts/expressions.html
		</div>
    </body>
</html>
